<% layout('layouts/boilerplate') %>
    <h1>REGISTER</h1>

    <form action="/register" class="validated-form" method="POST" novalidate>
        <div class="my-3">
            <label for="title" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="my-3">
            <label for="title" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="my-3">
            <label for="title" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">Submit</button>
    </form>